@use 'variables' as v;
@use 'mixins' as m;

.header {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 0 10px;
  background-color: v.$color_black-light;
  z-index: 10;

  &__wrapper {
    width: 100%;
    padding: 10px 0;
    @include m.d-flex(space-between, center);

    @media (max-width: v.$media_md) {
      @include m.d-flex(center, center, nowrap, column, 0, 25px);
    }
  }

  &__logo-link {

    &:hover {
      cursor: pointer;
    }

    img {
      width: 125px;
      height: 80px;

      @media (max-width: v.$media_md) {
        width: 150px;
        height: 110px;
      }
    }
  }

  &__nav {
    ul {
      @include m.d-flex(center, center, nowrap, row, 20px);
      @include m.font(20px, 400, v.$color_crema);
    }

    &-link {
      text-transform: uppercase;

      @media (hover:hover) {
        &:hover {
          color: v.$color_crema-dark;
        }
      }

      @media (hover:none) {
        &:active {
          color: v.$color_crema-dark;
        }
      }


      // &:hover {
      //   color: v.$color_crema-dark;
      // }

      // &:active {
      //   color: v.$color_grey;
      // }
    }

    @media (max-width: v.$media_lg) {
      &:hover {
        color: v.$color_crema;
      }
    }
  }

  &__contacts {
    @include m.d-flex(center, center, nowrap, row, 15px);

    @media (max-width: v.$media_md) {
      column-gap: 40px;
    }

    &-whatsapp, &-avito {
      display: flex;
      width: 40px;
      height: 40px;
      border-radius: 2px;
      animation: scale alternate 1s infinite linear;

      &:hover {
        background-color: none;
      }
    
      &:active {
        background-color: v.$color_crema;
      }

      @media (max-width: v.$media_md) {
        width: 50px;
        height: 50px;
      }
    }

    &-phone {
      text-transform: uppercase;
      animation: color alternate 3s infinite linear;
      @include m.font(20px, 400, v.$color_crema);

      @media (max-width: v.$media_md) {
        font-size: 20px;
      }

      @media (max-width: v.$media_min) {
        font-size: 20px;
      }

      &:hover {
        color: v.$color_crema-dark;
      }

      &:active {
        color: v.$color_crema;
      }
    }
  }
}

@keyframes scale {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.15;
  }

  100% {
    scale: 1;
  }
}

@keyframes color {
  0% {
    color: v.$color_crema;
  }

  50% {
    color: v.$color_black-light;
  }

  100% {
    color: v.$color_crema;
  }
}