$color_grey: #847D7D;
$color_black: #1e1c1c;
$color_black-light: #2e2c2c;
$color_crema: #e2dbb4;
$color_crema-dark: #665c5c;
$color_white: #ffffff;

$media_xxl: 1400px;
$media_xl: 1200px;
$media_lg: 992px;
$media_md: 768px;
$media_sm: 576px;
$media_min: 428px;